<app-header titulo="Grid"></app-header>

<ion-content class="ion-padding" fullscreen mode="ios" >
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-card>
          <ion-img src="/assets/stan-lee.jpg"></ion-img>
        </ion-card>

        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Enim reprehenderit est occaecat proident sint nulla voluptate ipsum
          adipisicing. In incididunt Lorem esse Lorem enim ex et tempor ut magna
          eu. Qui Lorem anim dolore voluptate qui sint. Sit aliquip sit sint
          cupidatat. Fugiat sit est fugiat laboris tempor incididunt consequat
          culpa amet ipsum aliquip quis. Lorem cupidatat nostrud aliquip
          reprehenderit labore magna nisi laboris et et occaecat sint sunt.
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
