<app-header titulo="card"></app-header>

<ion-content>
  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and
      climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Nulla amet irure in aute pariatur cupidatat quis aliquip est aute veniam elit est. Esse exercitation eiusmod
      commodo et aliqua mollit ut magna. Cupidatat nulla sit minim est cillum mollit mollit id adipisicing labore sit
      aliqua occaecat culpa.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="./assets/zero.jpg"></ion-img>

    <ion-card-content>
      Nostrud sint culpa anim sint commodo occaecat velit sint pariatur cillum. Aliqua labore deserunt sint culpa.
      Consequat exercitation laboris do cupidatat adipisicing anim in proident adipisicing esse voluptate adipisicing.
      Et commodo et aliqua eu quis culpa occaecat adipisicing.
    </ion-card-content>
    
  </ion-card>

</ion-content>